
 <div class="container max-height: 100%">

 

<div class="card shadow p-3 mb-5 bg-white rounded" style="margin-top: 40px; margin-bottom:80px;;">
  
  <div class="card-header" >
   
    <h2 class="text-sm-left text-center">List of Items</h2>
   
  </div>
  
  
  

    <div class="input-group col-md-4 no-gutters" style="margin-left: auto;margin-top: 25px;padding-right: 0px;padding-left: 0px;">

     

      <input type="text" class="form-control shadow-none"  placeholder="Search...">
      <div class="input-group-append">
        <button class="btn btn-secondary shadow-none" type="button" (click)="openVerticallyCentered(content)">
          <img src="/assets/imageinv.png" width="24" height="17" style="margin-bottom: 3px;"/>
          
        </button>
      </div>
    </div>


<div class="card-body col-md-12 ">


  
    
  
 
  <div class="row justify-content-center">
    
    
    <table class="table table-hover ">
     <thead>
      <tr>
       <th class="" scope="col">#</th>
       <th scope="col">Name</th>
       <th scope="col">Price</th>
       <th class="text-center" scope="col">Stock</th>
       <th class="text-center d-none d-sm-table-cell" scope="col">UPC</th>
       <th class="text-center d-none d-sm-table-cell" scope="col">Link to Item</th>
       <th class="text-center" scope="col">Image</th>      
      </tr>
     </thead>
     <tbody>
      <tr *ngFor="let item of itemList" (click)="openModal(editItemModal, item)" style = "cursor: pointer;">
       <th class= "" scope="row">{{ item.itemId }}</th>
       <td>{{ item.name.split(",")[0]}}</td>
       <td >{{ item.salePrice  | currency}}</td>
       <td class="text-center">{{ getTotalQuantity(item.itemDetails) }}</td>
       <td class="text-center d-none d-sm-table-cell">{{ item.upc }}</td>
       <td class="text-center d-none d-sm-table-cell">Link</td>
       <td class=" text-center"><img src="data:image/png;base64,{{item.thumbnailImage}}" width="40" height="35" class="img-thumbnail" /></td>
      </tr>
      <tr *ngIf="!itemList">
        <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
    </tr>
     </tbody>
    </table>
   
  




 </div>




 <ng-template #editItemModal let-modal>
  <div class="modal-header">
   <h5 *ngIf="itemDetailsModalTotalStock!=-1" class="modal-title" id="editItemLabel">Item ID: {{itemDetailsModalItemId}}</h5>
   

   <div  style="margin-top: 3px;margin-right: 2px;">

      <span style="margin-left: auto;" *ngIf="itemDetailsModalTotalStock>0" class="badge badge-success">In Stock -  {{itemDetailsModalTotalStock}}</span>
      <span style="margin-left: auto;" *ngIf="itemDetailsModalTotalStock==0" class="badge badge-danger">Out of Stock</span>
      <span  *ngIf="itemDetailsModalTotalStock==-1" class="badge badge-warning">Not available in DB</span>
  </div>

  </div>

  
  
  <div class="modal-body" >
   <form [formGroup]="editItemForm" >

    


  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="name">Name</span>
    </div>
    <input type="text" class="form-control shadow-none" formControlName="name" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
  </div>




  <div class="d-flex ">

  <div id='containerElements'  >


    

    
    <div *ngIf="itemDetailsModalTotalStock>=0 && !processingAddDatabase" class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="category">Category</span>
      </div>
      <input type="text" class="form-control shadow-none" formControlName="category" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
    </div>


    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="salePrice">Sale Price</span>
      </div>
      <input   type="text" class="form-control shadow-none" formControlName="salePrice" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div *ngIf="itemDetailsModalTotalStock>=0 || processingAddDatabase" class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="sellingPrice">Selling Price</span>
      </div>
      <input   type="text" class="form-control shadow-none" formControlName="sellingPrice" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>



    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="upc">UPC</span>
      </div>
      <input type="text" class="form-control shadow-none" formControlName="upc" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>


     <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="brandName">Brand</span>
      </div>
      <input type="text" class="form-control shadow-none" formControlName="brandName" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>

  </div>




    <div class="col-sm-3"  style="margin-left: auto;margin-bottom:18px; padding-top:30px">
      <img class="card-img-top"  src="data:image/png;base64,{{imageSrcModal}}"  alt="Card image cap">
    </div>
  </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="shortDescription">Description</span>
      </div>
      <textarea class="form-control shadow-none" formControlName="shortDescription" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea>
    </div>

    <div *ngIf="itemDetailsModalTotalStock>0"  class="input-group input-group-sm mb-3" >
      <div class="input-group-prepend">
        <span class="input-group-text" id="expirationDateSelect">Expiration Date</span>
      </div>
      <select class="form-control shadow-none" formControlName="expirationDateSelect" id="expirationDateSelect" aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
        <option *ngFor="let itemDetailsCurrent of expirationDates; let i = index" [value]="expirationDates[i].expirationDate">{{expirationDates[i]}}</option>
      </select>
    </div>
  


    <div class="modal-footer" style="padding-left: 0;padding-right: 0;">
     <button type="button" class="btn btn-secondary" style="margin-right: auto;" (click)="modal.dismiss()" autofocus>Close</button>
     <button *ngIf="itemDetailsModalTotalStock>=0" type="submit" class="btn btn-success" (click)="openAddEditCentered(contentAddEdit)">+ Add</button>
     <button *ngIf="itemDetailsModalTotalStock<0 && processingAddDatabase==false" type="submit" class="btn btn-success" (click)="addingItemToDB()">+ Add to DB</button>
     <button *ngIf="processingAddDatabase==false" type="submit" class="btn btn-danger" [disabled]="itemDetailsModalTotalStock<=0">- Deduct</button>
     <button *ngIf="processingAddDatabase" type="submit" class="btn btn-primary" >Save</button>
    </div>



    
   </form>
  </div>
 </ng-template>



 <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Search by UPC</h4>
    
  </div>
  <form [formGroup]="searchUPCForm" (ngSubmit)="getItemDataUPC()">
  <div class="modal-body">
    <input class="form-control" formControlName="upcText"  type="text" placeholder="" autofocus>
  </div>
</form>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #contentAddEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Item</h4>
    
  </div>
  <form [formGroup]="searchUPCForm" >
  <div class="modal-body">
    <input class="form-control" formControlName="upcText"  type="text" placeholder="Quantity" autofocus>
    <input class="form-control" formControlName="addEditExpirationDate"  type="text" placeholder="MM/DD/YYY" >
    
  </div>
</form>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>






   
    </div>
  </div>